/* General Modification */

.is-padding {
  padding: 10px;
}

.is-span-color {
  color: #50d8af;
}

.is-bold {
  font: bold;
}

/* Programs Section */
/* Services Section
--------------------------------*/

#programs {
  padding: 30px 0 0 0;
}

#programs .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#programs .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#programs .box .icon {
  float: left;
}

#programs .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#programs .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #50d8af 0%, #a3ebd5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#programs .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#programs .box h4 a {
  color: #444;
}

#programs .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}



/* Life-at-HF Section
--------------------------------*/

#life-at-hackerfarm {
  background: #fff;
  padding: 30px 0;
}

#life-at-hackerfarm .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#life-at-hackerfarm .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#life-at-hackerfarm .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

#life-at-hackerfarm .portfolio-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#life-at-hackerfarm .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#life-at-hackerfarm .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#life-at-hackerfarm .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Clients Section
--------------------------------*/

#available {
  padding: 30px 0;
}

#available img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#available img:hover {
  opacity: 1;
}

#available .owl-nav,
#available .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#available .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#available .owl-dot.active {
  background-color: #50d8af;
}

/* Credits */
.credits {
  display: none;
}


#online {
  text-decoration: none;
}

#online.link {
  text-decoration: none;
}