body {
    font-family: 'Roboto', sans-serif !important;
  }

.logo-text {
    font-family: 'Graduate', cursive;
}.tagline {
    font-family: 'Roboto', cursive;
}
.is-center {
    text-align: center;
}
.info-desc {
    font-family: 'Roboto';
    letter-spacing: 0.05em;
    line-height: 1.2em;
    text-align: center;
}
.footer li {
    font-size: 2em;
}
